#lojas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nossaslojas{
    font-size:80px;
    margin-top: 70px;
}
input{
    height:30px;
}
.form{
    margin-right: 10px;
    margin-top:1px;
    float:left;
}
form{
    margin-top: 100px;
}
select{
    padding:5px;
    height:30px;
    margin-left: 5px;
}
